# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/
pkg/
src/cloud.google.com
src/github.com
src/*.org
src/google.golang.org
src/gopkg.in
src/honnef.co
src/gopl.io
src/tempconv
src/distapp
src/gx
src/dmitri.*
src/github.com
src/go.opencensus.io
src/go4.org
src/golang.org
src/google.golang.org
src/gopkg.in
src/grpc.go4.org
src/honnef.co
src/sourcegraph.com
src/cloud.google.com


