# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/
.cache/
pkg/
bin/
src/tempconv
src/distapp
src/lengconv
src/gx
src/auth0-react-samples
src/*.com
src/*.io
src/*.org
src/*.in
src/*.co



